body{
    margin: 10, 10
}

.userType {
    padding: 20px;
}

nav{
    padding: 10px;
}

.card-image{
    height: 200px;
    width: 200px;
    /* width: 50%; */
}

.card-content{
    height: 50px;
    width: 50px;
}

.expand-modal {
    margin: 20px;
}

button.btn.dropdown-button {
    margin-top: 10px;
    margin-right: 14px;
    float: right;
}

/* button.btn.dropdown-button.active {
    margin-top: 10px;
} */
/* 
ul#dropdown_0.dropdown.content.active {
    margin: 10px;
} */